* {
    box-sizing: border-box;
}

.avatar:hover {
    box-shadow: 3px 3px 15px black;
    transform: rotate(360deg);
    transition: all 1s ease-in-out;
}

.webDevIcons {
    font-size: 40px;
}

.firstLetter{
    margin: 0 0 0 20px;
    font-size:250%;
    line-height: 1;
}

.icons-container {
    min-height: 100px;
    cursor: pointer;
}

.hover-zoomin {
    font-size: 40px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hover-zoomin:hover {
    padding-top: 0;
    font-size: 100px;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

