* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Balsamiq Sans', cursive;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #759746;
    padding: 2px;
    border-bottom: 1px solid black;
}

.navbar > a {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 0 0 5px black;
    font-weight: bold;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    padding: 10px;
}

#homeLink {
    margin-right: auto;
}

.portfolioHeader {
    text-align: center;
    color: firebrick;
    padding: 15px;
    margin: 10px;
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
}

.avatar {
    max-width: 200px;
    max-height: 200px;
    border-radius: 75px;
    justify-self: center;
    align-self: center;
}

.webDevIcons {
    font-size: 40px;
    padding: 10px;
}

.portfolioContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
}

.portfolioLinkContainer {
    text-align: center;
    margin: 5px;
}

.portfolioItemContainer {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    margin: 5px;
}

.portfolioItemImage {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

.portfolioItemImage:hover {
    box-shadow: 3px 3px 15px black;
}

footer {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

footer > a {
    text-decoration: none;
    align-self: center;
    justify-self: center;
}

#copyright,
.socialMediaIcons {
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Balsamiq Sans', cursive;
    margin: 15px;
}

@media only screen and (max-width: 450px) {
    .navbar > a {
        font-size: 16px;
        padding: 7px;
    }

    .portfolioContainer {
        grid-template-columns: 1fr;
    }

    #copyright,
    .socialMediaIcons {
        font-size: 16px;
        margin: 10px;
    }
}